* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
    height: 100vh;
    width: 100vw;
}

.item {
    background-color: lightgrey;
    border: 1px solid black;
}

#topo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

#menu {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

#principal {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#secundario {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#rodape {
    grid-row: 4 / 5;
    grid: 1 / 3;
}