    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    .container {
        display: grid;
        grid-template-rows: 100px 40px 1fr 40px;
        grid-template-columns: 1fr 150px;
        gap: 5px; 
        height: 100vh;
        width: 100vw;
    }

    .item {
        border: 1px solid blue;
        background-color: chocolate;
    }

    #itemA {
    grid-row: 1 / 2;
    grid-column: 1 / 3 ;
 
    }

    #itemB {
    grid-row: 2 / 3;
    grid-column: 1 / 3 ;

}

    #itemC {
    grid-row: 3 / 4;
    grid-column: 1 / 2 ;

}

    #itemD {
    grid-row: 3 / 4;
    grid-column: 2 / 3 ;
}

    #itemE {
    grid-row: 4 / 5;
    grid-column: 1 / 3 ;
}
